<%- include('partials/header') %>

    <a href="/add-student">Add Student</a>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Status</th>
        </tr>

        <% students.forEach(function(student) { %>
            <tr>
                <td>
                    <%= student.id %>
                </td>
                <td>
                    <a href="/students/<%= student.id %>">
                        <%= student.name %>
                    </a>
                </td>
                <td>
                    <%= student.marks %>
                </td>
                <td>
                    <% if (student.marks>= 50) { %>
                        Pass
                        <% } else { %>
                            Fail
                            <% } %>
                </td>
            </tr>
            <% }); %>
    </table>

    <%- include('partials/footer') %>